<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.mapper.NoticeMapper">

<resultMap type="kr.co.gdu.cash.vo.Notice" id="NoticeOneResult">
		<result property="noticeId" column="notice_id"/>
		<result property="noticeTitle" column="notice_title"/>
		<result property="noticeContent" column="notice_content"/>
		<result property="noticeDate" column="notice_date"/>
		
	<collection property="noticefileList" ofType="kr.co.gdu.cash.vo.Noticefile">
			<result  property="noticefileId"  column="noticefile_id" />
			<result  property="noticeId"  column="noticefile_id" />
			<result  property="noticefileName"  column="noticefile_name" />
			<result  property="noticefileType"  column="noticefile_type" />
			<result  property="noticefileSize"  column="noticefile_size" />
	</collection>
	
	<collection property="commentList" ofType="kr.co.gdu.cash.vo.Comment">
		<result  property="commentId" column="comment_id" />
		<result  property="noticeId" column="notice_id" />	
		<result  property="commentContent" column="comment_Content" />		
		<result  property="commentDate" column="comment_date" />	

	</collection>
</resultMap>
			<!-- 공지사항 상세보기 -->
		<select id="selectNoticeOne" parameterType="int" resultMap="NoticeOneResult">
		
		SELECT 
	n.notice_id,
	n.notice_title,
	n.notice_content,
	n.notice_date,
	nf.noticefile_id,
	nf.notice_id,
	nf.noticefile_name, 
	nf.noticefile_type, 
	nf.noticefile_size, 
	c.comment_id,
	c.notice_id,
	c.comment_content,
	c.comment_date
		FROM notice n
		LEFT OUTER JOIN noticefile nf
			ON n.notice_id  =nf.notice_id
		LEFT OUTER JOIN comment c
			ON n.notice_id = c.notice_id
		WHERE n.notice_id = #{noticeId}
		
		</select>
	
		<!-- 공지사항 삭제 -->
	<delete id="deleteNotice" parameterType="int">
		DELETE 
		FORM notice
		WHERE notice_id =#{noticeId}
	
	</delete>
			
 <insert id="insertNotice" parameterType="kr.co.gdu.cash.vo.Notice">
		<selectKey resultType="int" keyProperty="noticeId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO notice(
			notice_title,
			notice_content,
			notice_date
		) VALUES (
			#{noticeTitle},
			#{noticeContent},
			NOW()
		)
		
	</insert>
			
			


		
		<!-- 상단5개보여줄 공지 -->
	<select id="selectLatestNoiceList" resultType="kr.co.gdu.cash.vo.Notice">
		SELECT 
			notice_id noticeId,
			notice_title noticeTitle
		FROM notice
		ORDER BY notice_date DESC
		LIMIT 0, 5
	</select>
	
	
	
		<!-- 공지사항 페이징 -->
	<select id="selectNoticeListByPage" parameterType="java.util.Map" resultType="kr.co.gdu.cash.vo.Notice">
		SELECT
			notice_id noticeId,
			notice_title noticeTitle,
			notice_content noticeContent,
			notice_date noticeDate
		FROM notice
		ORDER BY notice_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<select id="selectTotalCount" resultType="int">

	select 
	 	COUNT(*)
	 FROM notice	
		
	</select>
	
</mapper>